* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

:root {
    --cor-principal: #edf5fc;
    --cor-secundaria: #1d3668;
    --cor-logo: #0967b1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

h1 {
    text-align: center;
}

.form {
    background-color: var(--cor-principal);
    border-radius: 5px;
    padding: 20px;
    max-width: 800px;
    margin: 3rem auto;
    padding: 1.5rem;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.botao {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
}

.botao:hover {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    font-weight: bold;
    border:1px solid var(--cor-secundaria);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

li p {
    padding: 6px;
}